@font-face{
    font-family: "pokemon-font";
    src: url("pokemon-solid.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;    
    overflow: hidden;
}

body{
    background-color: rgba(246, 246, 82, 0.289);
}

#pokedex{
    position: relative;
    width: 100%;
}

#pokedexDiv{
    position: absolute;
    width: 50rem;
    height: 30rem;
    left: calc(50% - 25rem);
    top: calc(50% - 15rem);

    display: flex;
    justify-content: center;
    align-items: center;
}


#pokemonImg{
    position: absolute;
    left: 3rem;
    top: 3rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userinput{
    font-family: consolas, monospace;
    position: absolute;
    font-size: 4vh;
    background-color: transparent;
    border: none;
    border-color: transparent;
    color: rgb(226, 226, 226);
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: "pokemon-font", sans-serif;
    color: yellow;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: blue;
    display: none;
}

th,td {
    border: 5px solid black;
    
}

.image{
    height: 150px;
    width: 150px;
    display: none;
}
.pokemon{
    width: 300px;
    text-align: center;
}
.correct{
    width: 300px;
    text-align: center;
    font-size: 24px;
}

tr:first-child td {
    border-top: none;
}
tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

th:first-child {
    border-left: none;
}

th:last-child {
    border-right: none;
}
th{
    border-top: none;
}

#previous{
    font-family: consolas, monospace;
    font-size: 3.4vh;
    letter-spacing: 2.5px;
    background-color: transparent;
    border: transparent;
    position: absolute;
    color: rgb(126, 132, 125);
    text-shadow: 0px 0px 1px rgb(161, 164, 174);
    cursor: pointer;
}

#next{
    font-family: consolas, monospace;
    font-size: 3.4vh;
    letter-spacing: 2.5px;
    background-color: transparent;
    border: transparent;
    position: absolute;
    color: rgb(126, 132, 125);
    text-shadow: 0px 0px 1px rgb(161, 164, 174);
    cursor: pointer;
}

#timer{
    font-family: consolas, monospace;
    font-size: 6.2vh;
    position: absolute;
    color: rgb(70, 74, 70);
}

#score{
    font-family: consolas, monospace;
    font-size: 5vh;
    color: rgb(70, 74, 70);
    text-shadow: 0px 0px 1px rgb(161, 164, 174);
    position: absolute;
    letter-spacing: 3.35vw;
}

#p{
    font-size: 5vh;
    font-weight: bold;
    font-family: consolas, monospace;
    position: absolute;
    letter-spacing: 3.2vw;
    text-shadow: 1px 1px 1px;
}

#results{
    height: 24vh;
    width: 20vw;
    background-color: rgb(254, 254, 31);
    background-color: red;
    border: 7px solid rgb(33, 33, 234);
    position: fixed;
    top: 0;
    right: 0;
    margin: 4vh;
    visibility: hidden;
}

.res{
    font-family: "pokemon-font";
    font-size: 3.5vh;
    color: yellow;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 1.5px; 
    -webkit-text-stroke-color: blue;
    text-align: center;
    margin-bottom: 0.01vh;
    margin-top: 0.01vh;
}

#restart{
    background-color: rgb(254, 254, 31);
    position: fixed;
    top: 33vh;
    right: 7.73vw;
    border: 2px solid;
    border-radius: 8px;
    display: none;
}

@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
        height: auto;
    }
}

/*
    1. Depending on the width of the window change values given in the media queries; 
    2. The values are given in rem;
    3. I copy pasted the same values from media query where min-width: 1400px to every query;
    4. All that's left for you now is to change the values according to your needs;

    When maching elements to an image mock-up, the best practice I found is to use 
    absolute position and using fixed values since it's easier to position elements 
    on the page that way.

    The reason why the previous version scaled poorly is because of the use of percentages.
    Since the pokedex image is scaled by percentage, changing the width of the window will
    change the width of the pokedex image. This will cause the elements that are position absolue
    in the #pokedexDiv elemennt to be positioned differently than intended. Scaling things with
    percentages and positioning elements with absolute position often doesn't go well together.

    Note: When using media queries to change element values, you have to remove the values assigned
          to the elements outside the media queries. Otherwise, the values given in the media queries
          will be overwritten by the values given outside the media queries. 
*/

@media screen and (min-width: 576px){
    #pokedex{
        width: 100%;
    }
    #userinput{
        right: 4rem;
        top: 9.25rem;
        width: 15.5rem;
        height: 5rem;
    }
    #previous{
        right: 12rem;
        bottom: 0.5rem;
    }
    #next{
        right: 5rem;
        bottom: 0.5rem;
    }
    #timer{
        left: 7rem;
        bottom: 0.35rem;
    }
    #score{
        bottom: 5.225rem;
        right: 10rem;
    }
    #p{
        top: 15.5rem;
        right: 2rem;
        font-size: 2rem;
        letter-spacing: 2.3rem;
    }
}

@media screen and (min-width: 767px){
    #pokedex{
        width: 100%;
    }
    #userinput{
        right: 4rem;
        top: 9.25rem;
        width: 15.5rem;
        height: 5rem;
    }
    #previous{
        right: 12rem;
        bottom: 0.5rem;
    }
    #next{
        right: 5rem;
        bottom: 0.5rem;
    }
    #timer{
        left: 7rem;
        bottom: 0.35rem;
    }
    #score{
        bottom: 5.225rem;
        right: 10rem;
    }
    #p{
        top: 15.5rem;
        right: 2rem;
        font-size: 2rem;
        letter-spacing: 2.3rem;
    }
}

@media screen and (min-width: 992px){
    #pokedex{
        width: 100%;
    }
    #userinput{
        right: 4rem;
        top: 9.25rem;
        width: 15.5rem;
        height: 5rem;
    }
    #previous{
        right: 12rem;
        bottom: 0.5rem;
    }
    #next{
        right: 5rem;
        bottom: 0.5rem;
    }
    #timer{
        left: 7rem;
        bottom: 0.35rem;
    }
    #score{
        bottom: 5.225rem;
        right: 10rem;
    }
    #p{
        top: 15.5rem;
        right: 2rem;
        font-size: 2rem;
        letter-spacing: 2.3rem;
    }
}

@media screen and (min-width: 1200px){
    #pokedex{
        width: 100%;
    }
    #userinput{
        right: 4rem;
        top: 9.25rem;
        width: 15.5rem;
        height: 5rem;
    }
    #previous{
        right: 12rem;
        bottom: 0.5rem;
    }
    #next{
        right: 5rem;
        bottom: 0.5rem;
    }
    #timer{
        left: 7rem;
        bottom: 0.35rem;
    }
    #score{
        bottom: 5.225rem;
        right: 10rem;
    }
    #p{
        top: 15.5rem;
        right: 2rem;
        font-size: 2rem;
        letter-spacing: 2.3rem;
    }
}

@media  screen and (min-width: 1400px){
    #pokedex{
        width: 100%;
    }
    #userinput{
        right: 4rem;
        top: 9.25rem;
        width: 15.5rem;
        height: 5rem;
    }
    #previous{
        right: 12rem;
        bottom: 0.5rem;
    }
    #next{
        right: 5rem;
        bottom: 0.5rem;
    }
    #timer{
        left: 7rem;
        bottom: 0.35rem;
    }
    #score{
        bottom: 5.225rem;
        right: 10rem;
    }
    #p{
        top: 15.5rem;
        right: 2rem;
        font-size: 2rem;
        letter-spacing: 2.3rem;
    }
}